*{
        box-sizing: border-box;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: auto;
}

nav {
    display: block;
    float: right;

}

nav li {
    float: left;
}

li a {
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: gray;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: inline-block;

} 

.name{
    font-size: 30px;
    width: 300px;
    border: 0px solid #4aaaa5;
    background: #4aaaa5;
    color: white;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 0px;
    padding: 25px;
}
 
.topPortion {
    background: #ffffff;
    margin: 0 auto;
    width: 960px;   
  }

header {
    background: white;
}

.box {
    clear:both;
}

.aboutMe {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #4aaaa5;
    margin: auto;
    padding: 40px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 35px;
    background: white;

}

img {
    vertical-align: baseline;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    
}

p {
    display: inline;
}

.middleSection {
    clear: both;
    margin: auto;
    width: 960px;
    background: white;


}

body {
    background-image: url("../images/circles-dark.png");
}

footer {
    clear: both;
    border-top: solid 2px #4aaaa5;
    margin-top: 30px;
    background: gray;
    padding: 20px;
    text-align: center;
    color: white;
}

hr {
    width: 95%;
    color:  lightgray;
    height: 3px;
    background: lightgray;
}

.row1 {
    width: 100%;

}



.col {
  
    margin-right: 10px;
    width: 274px;
    position: relative ;
    float: left;
    overflow: hidden;
    margin-top: 19px;
    
}

h3 {
    height: 50px;
    width: 100%;
    background: #4aaaa5;
    position: absolute;
    text-align: center;
    top: 100px;
    margin-top: 40px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 15px;
}

img {
    object-fit: cover;
}



form {
    margin: 25px 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

form label {
    display: block;
    margin: 15px 0;
    color: #aaa;
}

form input {
    width: 100%;
    height: 35px;
    font-size: 20px;
}

form textarea {
    width: 100%;
    height: 200px;
    font-size: 17px;
    resize: none;
}

#submit {
    width: 100px;
    margin-top: 100px;
    background-color: #4aaaa5;
    color: white;
    border: none;
}



h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 980px) {
    
        .topPortion{
            margin-left: 15px;
        }
    
        .middleSection {
            margin-right: 15px;
        }
    
      
    }
    
@media screen and (max-width: 768px) {
        .nav-container {
            width: 650px;
        }

    
        hr {
            width: 620px;
            border-color: #ccc;
            border-width: 1px;
            border-style: solid;
        }
    
        .topPortion{
            width: 100%;
            display: block;
            background-color: white;
            margin-bottom: 35px;
            margin-left: 0;
        }
        

    
        .middleSection {
            width: 100%;
            clear: both;
            display: block;
            margin-right: 0;
        }

    
    }
    
    @media screen and (max-width: 640px) {
        header {
            position: static;
        }
    
    
    
        nav {
            width: 640px;
            float: none;
            text-align: center;
            height: 100%;
        }
    
        nav ul {
            clear: both;
            display: block;
        }
        
        nav li {
            display: inline-block;
            margin-left: 0;
            padding: 25px 0;
            width: 210px;
        }
        

        
        
        nav a {
            text-decoration: none;
            color: #a9a9a9;
        }

        hr {
            width: 520px;
            border-color: #ccc;
            border-width: 1px;
            border-style: solid;
        }
    

